#archLinuxPackages
*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig
*.swp
#tomcat
apache-tomcat-7.0.42-logone1u1/LICENSE
apache-tomcat-7.0.42-logone1u1/NOTICE
apache-tomcat-7.0.42-logone1u1/RELEASE-NOTES
apache-tomcat-7.0.42-logone1u1/RUNNING.txt
apache-tomcat-7.0.42-logone1u1/lib/
apache-tomcat-7.0.42-logone1u1/logs/
apache-tomcat-7.0.42-logone1u1/temp/

#data
clientDemos/data/data.tgz
clientDemos/data/for_SC_tru_trid15_a_20131104_13_09.txt
clientDemos/data/for_SC_tru_trid15_b_20131104_13_09.txt
clientDemos/data/part_test_tru_trid15_b_2013_11_04.txt
clientDemos/data/parts
clientDemos/data/test_srv_trid15and16_ab_2013_11_04

#elasticsearch
elasticsearch-1.3.1-logone1u1/LICENSE.txt
elasticsearch-1.3.1-logone1u1/NOTICE.txt
elasticsearch-1.3.1-logone1u1/README.textile
elasticsearch-1.3.1-logone1u1/lib/

#flume
flume-1.5.0-bin-logone1u1/CHANGELOG
flume-1.5.0-bin-logone1u1/DEVNOTES
flume-1.5.0-bin-logone1u1/LICENSE
flume-1.5.0-bin-logone1u1/NOTICE
flume-1.5.0-bin-logone1u1/README
flume-1.5.0-bin-logone1u1/RELEASE-NOTES
flume-1.5.0-bin-logone1u1/docs/
flume-1.5.0-bin-logone1u1/lib/*
!flume-1.5.0-bin-logone1u1/lib/MsgSink.jar
flume-1.5.0-bin-logone1u1/logs/
flume-1.5.0-bin-logone1u1/tools/

#hadoop
hadoop-2.5.1-logone1u1/LICENSE.txt
hadoop-2.5.1-logone1u1/NOTICE.txt
hadoop-2.5.1-logone1u1/README.txt
hadoop-2.5.1-logone1u1/include/
hadoop-2.5.1-logone1u1/lib/
hadoop-2.5.1-logone1u1/share/
hadoop-2.5.1-logone1u1/logs/
